* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    background-color: rgb(10, 216, 235);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #e11582;
    border-radius: 5px;
    width: 400px;
    height: 600px;
    padding: 15px;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-bottom: 15px;
    text-align: center;
    color: aliceblue;
    
}

.input-group {
    display: flex;
    margin-bottom: 15px;
}

#text-input-field {
    width: 100%;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

#add-button {
    padding: 7px 9px;
    border: none;
    background-color: cyan;
}

.todos-container {
    overflow-y: scroll;
}

.todo-item-container {
    display: flex;
    margin-bottom: 5px;
}

#todo-text{
    width: 100%;
    font-size: 20px;
    letter-spacing: 1.5px;
    user-select: none;
}

.line-through {
    text-decoration: line-through;
    color: blue;
}


#delete-button {
    padding: 5px;
    border: none;
    background-color: transparent;
    background-color: rgb(204, 247, 14);
}
#edit-button{
    padding: 5px;
    border: none;
    background-color: rgb(5, 245, 233);

}
ul {
    margin: 0;
    padding: 0;
  }
/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: none;
    font-size: 18px;
    transition: 0.2s;
    width: 100%;
    font-size: 20px;
    letter-spacing: 1.5px;
    user-select: none;
    text-align: left;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }